<div class="split left">
    <div class="centered">
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
        <h1>Work</h1>
        <p>Technical Support Engineer Intern at <a href="www.themeisle.com">Themeisle</a></p> 
        <p>Summer of 2019</p>
        <p>Viverra adipiscing at in tellus integer feugiat scelerisque. Nunc sed id semper risus. Diam maecenas sed enim ut. Semper auctor neque vitae tempus quam. Proin libero nunc consequat interdum varius sit. Tortor condimentum lacinia quis vel eros donec ac odio. Iaculis urna id volutpat lacus laoreet non curabitur. Sodales ut eu sem integer. In massa tempor nec feugiat nisl. Quam id leo in vitae turpis massa sed. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Mi ipsum faucibus vitae aliquet nec. At tellus at urna condimentum mattis pellentesque id nibh tortor.</p>
        <br>
        <h1>Education</h1>
        <p>University of Bucharest - Faculty of Mathematics and Computer Science ----  2018-2019</p>
        <p>Carol I Theoretical Highschool - Fetesti  ---- Mathematics and Informatics Intensive English </p>
        <br>
        <h1>Hobbies</h1>
        <h2>The mountains..</h2>
        <p>Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Cursus turpis massa tincidunt dui ut ornare lectus. Mattis aliquam faucibus purus in massa tempor nec. Fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel. Ac turpis egestas sed tempus urna et. Euismod in pellentesque massa placerat duis ultricies lacus. Ac placerat vestibulum lectus mauris. Felis donec et odio pellentesque diam volutpat commodo sed egestas. Vitae purus faucibus ornare suspendisse sed nisi. Consectetur adipiscing elit ut aliquam purus sit. Risus feugiat in ante metus dictum.</p>
        <br>
        <h1>Awards</h1>
        <p>Second or third prize in county olympics for Computer Science or C# section in Technology of Information </p>
    
    
    </div>
  </div>