  <!-- First Parallax Section -->
  <div class="jumbotron paral paralimgtop">

    <!--JUMBOTRON-->
    <div class="center">
        <img class="myphoto" src="../images/IosifGabriel.jpg">
    </div>
    <h1 class="display-3">Iosif Gabriel</h1>
    <p class="lead">2018-2021 Computer Science student</p>
    <p class="lead">Faculty of Mathematics and Computer Science, University of Bucharest </p>
    <div class="center">
        <a href="#about" class="arrow">
            <i class="fa fa-arrow-circle-down"></i>
        </a>
    </div>
</div>


<div class="site-wrapper">



    <!--START OF PAGE-->
    <div id="about">
        <div class="container">
        <h1 class="display-3 center h1" style="margin-top:50px;">About me</h1>
            <div class="row">
                <div class="col justifyright">
                    <img class="RestOfPhotos" src="../images/AboutMe.jpg">
                </div>
                <div class="col">
                    <p class="lead"> Hey there, I'm a Computer Science student at the University of Bucharest, Romania with a passion for developing in C++/Python and web. This is my personal website containing projects which I find notable. As time goes, I will be surely adding more projects to this list as I build more useful things. </p>
                    <a href='about'>Read more</a> 
                </div>
            </div>
        </div>
    </div>
    <!-- parallax 2 -->
    <div class="paral paralsec paralimgsecond paralsmall" style="margin-top:40px; margin-bottom:40px;">
    </div>

    <!-- Portfolio -->
    <div id="about">
            <div class="container">
            <h1 class="display-3 center h1">My Portfolio</h1>
             
            </div>
        </div>
</div>
