<div class="progress-bar"> </div>

    <div id="d3">
        <img src="../images/helloworld.png" style="top:50%">
        <p class="right">In the 9th grade I was so proud about my Hello World, it was something new for me</p>
    </div>

    <div id="d5">
        <h1>I began to participate in scholar olympics</h1>
    </div>

    <div id="d7">
        <img src="../images/FirstWebsite.png" style="padding-left:40%!important">
        <p style="top:65% !important;">In the 11th grade, I built my first complex website from scratch. It was about the War of the Roses </p>
    </div>
    <div id="d9">
        <img src="../images/Job1.jpg" style="height:45%; top:52%;">
        <img src="../images/Job2.jpg" style="height:45%; padding-left:22%;">
        <p class="right">The following summer I got my first job as a Technical Support Enginner at Themeisle. The best summer I had so far. It was always a joy to come to the desk and be near that team</p>
    </div>

    <div  id="d4">
        <img src="../images/algorithm.png" style="padding-left:60%;">
        <p>Slow and steady I began to understand the concept of algorithms</p>
    </div>

    <div  id="d6">
        <h1>Even though I did not achieve the participation in National Olympics, I never stopped working</h1>
    </div>
    <div  id="d8">
        <img class="right" src="../images/facultate.jpg" style="padding-left:60% !important; height:60%; top:25% !important;">
        <p class="left">I worked hard and I got accepted to Faculty of Mathematics and Computer Science, University of Bucharest. I was so proud of myself</p>
    </div>
    <div  id="d10">
        <p>And the story will continue...</p>
    </div>
  

  <h1 id="d0"> Use tastes (A-Z), Press Arrows or Enter<p>
  <h1 id="d1">It all started seeing my brother working in Pascal in highschool...</h1>
  <h1 id="d2">I liked the most what he was doing and it ignited the desire for me to learn how to master the computer...</h1>
  <h1 id="d12">Thank you</h1>